
@{
    ViewBag.Title = "Index";
}

<style>
    #msg
    {
        font-family:Tahoma;
        font-size:large;
        color:palevioletred;
        font-style:oblique;
    }
</style>

<h2>Index</h2>

<div id="msg">
    پیام: @ViewData["massage1"]
    <br/>
   پیام: @ViewBag.massage2

</div>